.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 500px;
    margin: auto;
    
}

.payment-text-1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #1A1A2C;
}

.payment-text-2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #1A1A2C;
}

.success {
    display: flex;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 200px;
}